<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="/assets/bootstrap/css/bootstrap.min.css" 
    rel="stylesheet" type="text/css">
  </head>
  <body>
     <!--Welcome {{ username }} -->
    <div class="container mt-5">
      <p>Welcome to <h3 class="text-primary">TEST</h3></p>
    </div>
</body>
</html>